*{
	-main: black;
	-mfx-main: -main;
	-mfx-main-color: -main;
	-mfx-main-color-hover: rgb(0, 0, 0, 0.2);
	-mfx-main-color-pressed: rgb(0, 0, 0, 0.3);
	-mfx-base-color: -main;
	-mfx-main-light: #707980;
	-mfx-main-lighter: #e7e9ea;
}

.mfx-text-field .text-field {
	-fx-highlight-fill: -mfx-main-lighter;
}

.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2 {
	-fx-fill: -main;
}

.mfx-ripple-generator {
	-mfx-ripple-color: rgba(0, 0, 0, 0.5);
}

.mfx-combo-box-cell {
	-mfx-hover: rgb(0, 0, 0, 0.1);
	-mfx-selected: rgb(0, 0, 0, 0.3);
}

.mfx-filter-pane .mfx-combo-box {
	-fx-background-color: -mfx-main-lighter;
	-fx-background-radius: 15;
	-fx-border-color: #ebebeb;
	-fx-border-radius: 15;

	-fx-font-family: "Open Sans SemiBold";
	-fx-font-size: 14;
	-fx-text-fill: -mfx-gray;
}

.mfx-filter-pane {
	-mfx-main: -main;
	-mfx-main-light: rgb(0, 0, 0, 0.3);
	-mfx-main-lighter: rgb(0, 0, 0, 0.2);
	-mfx-gray: #6b6b6b;

	-fx-background-color: white;
	-fx-background-radius: 10;
	-fx-padding: 7 14 7 14;
}