*{
	-mfx-main: black;
	-mfx-main-color: -mfx-main;
	-mfx-main-color-hover: rgb(0, 0, 0, 0.2);
	-mfx-main-color-pressed: rgb(0, 0, 0, 0.3);
}

.mfx-progress-bar .bar1,
.mfx-progress-bar .bar2 {
	-fx-fill: -mfx-main;
}